/* Google Map! */
#map {
  height: 670px;
   overflow: hidden;
   padding-bottom: 22.25%;
   padding-top: 30px;
   position: auto ;
}


#html-body {
    background-color: white;
}

.header {
  background-color: #97E8D9;
  padding-top: 10px;
  padding-bottom: 10px;

}

#a {
  background-color: blue;
}
